<h1 align="center"><b>STUDENTS</b></h1>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label"><h5><b>Student Name</b></h5></label>
                <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label"><h5><b>Department Name</b></h5></label>
                <select name="" id="" class="form-control">
                    <option value="BBA">BBA</option>
                    <option value="BCom">BCom</option>
                    <option value="BJMC">BJMC</option>
                    <option value="PCA">PCA</option>
                    <option value="BCA">BCA</option>
                    <option value="BSc Mathematics">BSc Mathematics</option>
                    <option value="BSc Statistics">BSc Statistics</option>
                    <option value="BSc Psychology">BSc Psychology</option>
                    <option value="MCA">MCA</option>
                    <option value="MCom">MCom</option>
                    <option value="MBA">MBA</option>
                </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label"><h5><b>Year</b></h5></label>
                <input type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label"><h5><b>Semester</b></h5></label>
                <select name="" id="" class="form-control">
                    <option value="S1">S1</option>
                    <option value="S2">S2</option>
                    <option value="S3">S3</option>
                    <option value="S4">S4</option>
                    <option value="S5">S5</option>
                    <option value="S6">S6</option>
                </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label"><h5><b>Roll Number</b></h5></label>
                <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label"><h5><b>Mobile Number</b></h5></label>
                <input type="text" class="form-control">
                </div>
                <div align="center" class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <Button class="btn btn-dark"><b>ADD</b></Button>
                </div>
            </div>
        </div>
    </div>
</div>
